$color-border-primary: #9bcbfd;
$color-border-info: #b3d1ef;
$color-border-success: #468847;
$color-border-warning: #f6dca7;
$color-border-danger: #e5bdc4;
$color-border-muted: #e5e5e5;


.bootstrap-alert-wrap {
    .alert.alert-primary {
        border-left: 5px solid $color-border-primary;
    }

    .alert.alert-info {
        border-left: 5px solid $color-border-info;
    }

    .alert.alert-success {
        border-left: 5px solid $color-border-success;
    }

    .alert.alert-warning {
        border-left: 5px solid $color-border-warning;
    }

    .alert.alert-danger {
        border-left: 5px solid $color-border-danger;
    }

    .alert.alert-muted {
        color: #bfbfbf;
        background-color: #f6f6f6;
        border-color: #e5e5e5;
        border-left: 5px solid $color-border-muted;
    }
}