.bootstrap-alert-wrap .alert.alert-primary {
	border-left: 5px solid #9bcbfd;
}
.bootstrap-alert-wrap .alert.alert-warning {
	border-left: 5px solid #f6dca7;
}
.bootstrap-alert-wrap .alert.alert-danger {
	border-left: 5px solid #e5bdc4;
}

.bootstrap-alert-wrap .alert.alert-info {
	border-left: 5px solid #b3d1ef;
}

.bootstrap-alert-wrap .alert.alert-success {
	border-left: 5px solid #468847;
}

.bootstrap-alert-wrap .alert.alert-muted {
	color: #bfbfbf;
	background-color: #f6f6f6;
	border-color: #e5e5e5;
	border-left: 5px solid #e5e5e5;
}

.shortcode-examples button {
	width: 100%;
}

.shortcode-examples p {
	font-size: 22px;
}

.shortcode-metabox h2 {
	font-size: 30px!important;
}

.shortcode-metabox button {
	width: 100%;
}
  
  /*# sourceMappingURL=style.css.map */
  